certifi==2025.4.26
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
filelock==3.13.1
fonttools==4.59.1
frozendict==2.3.10
fsspec==2024.6.1
gitdb==4.0.12
gitdb2==4.0.2
GitPython==3.0.6
Jinja2==3.1.4
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.5
moralis==0.1.49
mpmath==1.3.0
networkx==3.3
numpy==2.1.3
packaging==24.1
pillow==11.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
setuptools==70.2.0
six==1.16.0
smmap==5.0.2
sympy==1.13.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
truffleHog==2.2.1
truffleHogRegexes==0.0.7
typing_extensions==4.13.2
tzdata==2024.2
urllib3==2.5.0
